
  {{!-- <script>
    fetch('http://localhost:3000/api/datapage')
      .then(response => response.json())
      .then(data => {
        if (data.length > 0) {
          const telefono = data[0].telefono;
          const email = data[0].email;
          const ubicacion = data[0].ubicacion;

          const telefonoElement = document.getElementById('dynamic-telefono');
          const emailElement = document.getElementById('dynamic-email');
          const ubicacionElement = document.getElementById('dynamic-ubicacion');

          if (telefonoElement) {
            telefonoElement.innerHTML = `<p>${telefono}</p>`;
            emailElement.innerHTML = `<p>${email}</p>`;
            ubicacionElement.innerHTML = `<p>${ubicacion}</p>`;
          } else {
            console.error('No se encontró el elemento con ID "dynamic-telefono".');
          }
        } else {
          console.error('No se encontró ningún dato en la respuesta.');
        }
      })
      .catch(error => {
        console.error('Error fetching telefono:', error);
      });
  </script>

<script>
  fetch('http://localhost:3000/api/datapage')
    .then(response => response.json())
    .then(data => {
      if (data.length > 0) {
        const telefono = data[0].telefono;
        const email = data[0].email;
        const ubicacion = data[0].ubicacion;

        const telefonoElement = document.getElementById('dynamic-telefono');
        const emailElement = document.getElementById('dynamic-email');
        const ubicacionElement = document.getElementById('dynamic-ubicacion');
        const email2Element = document.getElementById('dynamic-email2');
        const telefono2Element = document.getElementById('dynamic-telefono2');

        if (telefonoElement && emailElement && ubicacionElement) {
          telefonoElement.innerHTML = `<p>Call: ${telefono}</p>`;
          emailElement.innerHTML = `<p>Email: ${email}</p>`;
          ubicacionElement.innerHTML = `<p>${ubicacion}</p>`;
          telefono2Element.innerHTML = `<p>${telefono}</p>`;
          email2Element.innerHTML = `<p>${email}</p>`;

        } else {
          console.error('No se encontraron los elementos con ID "dynamic-telefono", "dynamic-email" o "dynamic-ubicacion".');
        }
      } else {
        console.error('No se encontró ningún dato en la respuesta.');
      }
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
</script>