<!-- about section -->

  <style>
      #dynamic-acerca {
    display: block; /* Asegura que el contenido sea tratado como un bloque */
    text-align: justify; /* Justifica el texto */
    margin-bottom: 20px; /* Espacio debajo del texto */
  }
  </style>

  <script>
    fetch('http://localhost:3000/api/datapage')
      .then(response => response.json())
      .then(data => {
        if (data.length > 0) {
          const acerca = data[0].acerca;
          const acercaElement = document.getElementById('dynamic-acerca');
          if (acercaElement) {
            acercaElement.innerHTML = `<p>${acerca}</p>`;
          } else {
            console.error('No se encontró el elemento con ID "dynamic-acerca".');
          }
        } else {
          console.error('No se encontró ningún dato en la respuesta.');
        }
      })
      .catch(error => {
        console.error('Error fetching acerca:', error);
      });
  </script>

<section class="about_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="detail-box">
          <h2>
            About us
          </h2>
          <span id="dynamic-acerca"></span>
          <p>
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->