<!-- service section -->

<script>
  fetch('http://localhost:3000/api/datapage')
    .then(response => response.json())
    .then(data => {
      if (data.length > 0) {
        const mantenimiento = data[0].mantenimiento;
        const electricidad = data[0].electricidad;
        const plomeria = data[0].plomeria;

        const mantenientoElement = document.getElementById('dynamic-mantenimiento');
        const electricidadElement = document.getElementById('dynamic-electricidad');
        const plomeriaElement = document.getElementById('dynamic-plomeria');

        if (mantenientoElement && electricidadElement && plomeriaElement) {
          mantenientoElement.innerHTML = `<p>${mantenimiento}</p>`;
          electricidadElement.innerHTML = `<p>${electricidad}</p>`;
          plomeriaElement.innerHTML = `<p>${plomeria}</p>`;

        } else {
          console.error('No se encontraron los elementos con ID "dynamic-manteniento", "dynamic-electricidad" o "dynamic-plomeria".');
        }
      } else {
        console.error('No se encontró ningún dato en la respuesta.');
      }
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
</script>

<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2> Our Services </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="images/s1.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Maintenance
            </h5>
                <span id="dynamic-mantenimiento" ></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="images/s2.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Electrical
            </h5>
            <p>
                <span id="dynamic-electricidad" ></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="images/s3.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Plumbing
            </h5>
            <p>
                <span id="dynamic-plomeria" ></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        View More
      </a>
    </div>
  </div>